.swal2-input {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
  }

.swal2-input .placeholder{
    color: #000000;
    opacity: 10;
}

  .swal2-select {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
    width: 63%;
  }
  